/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

----------------------------------------------------------------------------------------
*/

conda.cacheDir='/n/scratch/groups/mgh/kwon/nextflow_software_cache/new_conda'

env {
    CONDA_ALWAYS_YES = 'true'
}


params {
    max_time = '11.h'
    max_memory = '64.GB'
    max_cpus = 12
}

process {
    resourceLimits = [
        memory: 64.GB,
        cpus: 12,
        time: 11.h
    ]
    executor       = 'slurm'
    clusterOptions = '-p short'
    queueSize=2200
}