/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

----------------------------------------------------------------------------------------
*/

conda.cacheDir=""/n/scratch/groups/mgh/kwon/nextflow_software_cache/conda""
process {
    resourceLimits = [
        memory: 64.GB,
        cpus: 12,
        time: 12.h
    ]
    executor       = 'slurm'
    clusterOptions = '-p short'
    queueSize=2200
}
