/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

----------------------------------------------------------------------------------------
*/

conda.cacheDir='/n/scratch/groups/mgh/kwon/nextflow_software_cache/simran_conda'
process {
    resourceLimits = [
        memory: 190.GB,
        cpus: 20,
        time: 12.h
    ]
    executor       = 'local'
    maxForks = 20
}
